<div>
	 
    {{data.title_field}}

    {{data.overview_field}}

    {{data.qualifications_field}}

    {{data.responsabilities_field}}

    {{data.type_field}}

    {{data.experience_field}}

    {{data.salary_type_field}}

    {{data.openings_field}}


    {{data.salary_field}}

    {{data.location_field}}

    {{data.deadline_field}}
       
    {{data.tags_field}}

    {{data.status}}
    
    {{data.access_id}}

    {{data.hidden_field}}
    {{data.container_field}}
    {{data.footer}}
</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ data.site_url }}mod/job-board-manager/dist/output.css" />