<h3> 
   {{data.labels.overview}}
</h3>
 {{data.overview|raw}}
<h3> 
     {{data.labels.qualifications}} 
</h3>
 {{data.qualifications|raw}}

 <h3> 
     {{data.labels.qualifications}} 
</h3>
 {{data.job_type}}