<div class="grid  sm:grid-cols-1  lg:grid-cols-5 gap-1 pb-8 pt-4">
  <div>
     
     <span class="inline-flex items-center rounded-md  bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 shadow-md hover:shadow-lg ">
     <i class="bi bi-pin-map-fill"></i>&nbsp;
     {{data.location}}
     </span>

  </div>

  <div>
  <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 shadow-md hover:shadow-lg ">
     <i class="bi bi-people-fill"></i>&nbsp;
     {{labels.openings}}: {{data.openings}}
  </span>
  </div>

  <div>
  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 shadow-md hover:shadow-lg ">
  <i class="bi bi-cash-coin"></i>&nbsp;
  {{labels.salary}}: {{data.salary}}
  </span>

  </div>
 

</div>

<div>
<h3> 
  <i class="bi bi-archive"></i> {{labels.overview}}
</h3>
 {{data.overview|raw}}
</div>

<h3> 

     {{labels.qualifications}} 
</h3>
 {{data.qualifications|raw}}

 <h3> 
     {{labels.type}} 
</h3>
 {{data.job_type}}

 <h3> 
     {{labels.openings}} 
</h3>
  {{data.openings}}


<script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">