<div class="m-8">
<div class="text-end pb-8">
    <span class="py-3 px-4 inline-flex items-center gap-x-2 text-2xl font-medium rounded-lg border border-gray-200 bg-white text-blue-600 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-blue-500" style="cursor: pointer" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-slide-down-animation-modal" data-hs-overlay="#hs-slide-down-animation-modal"><i class="bi bi-patch-check-fill"></i>&nbsp;Apply to role</span>
  </div>
  <div class="flex flex-wrap justify-start gap-4 xl:gap-4 pb-8 pt-2 sm:gap-2 md:gap-2">
    <div>
      <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 shadow-md hover:shadow-lg">
        <i class="bi bi-check-circle-fill"></i>&nbsp;
        {{ data.status }}
      </span>
    </div>
    <div>
      <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 shadow-md hover:shadow-lg">
        <i class="bi bi-pin-map-fill"></i>&nbsp;
        {{ data.location }}
      </span>
    </div>

    <div>
      <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 shadow-md hover:shadow-lg">
        <i class="bi bi-file-earmark-check-fill"></i>&nbsp;
        {{ labels.openings }}: {{ data.openings }}
      </span>
    </div>

    <div>
      <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10 shadow-md hover:shadow-lg">
        <i class="bi bi-cash-coin"></i>&nbsp;
        {{ labels.salary }}: {{ data.salary }}
      </span>
    </div>
  </div>

  <div class="pb-6">
    <div class="font-semibold text-lg pb-2">
      <i class="bi bi-info-circle-fill"></i> {{ labels.overview }}
    </div>
    <span class="text-justify">{{ data.overview|raw }}</span>
  </div>

  <div class="pb-4">
    <div class="font-semibold text-lg pb-2">
      <i class="bi bi-clipboard-check-fill"></i> {{ labels.qualifications }}
    </div>
    <span class="text-justify">{{ data.qualifications|raw }}</span>
  </div>

  <div class="pb-4">
    <div class="font-semibold text-lg pb-2">
      <i class="bi bi-box-seam-fill"></i> {{ labels.type }}
    </div>
    <span class="text-justify">{{ data.job_type }}</span>
  </div>

  <div class="pb-4">
    <div class="font-semibold text-lg pb-2">
      <i class="bi bi-calendar2-week-fill"></i> {{ labels.experience }}
    </div>
    <span class="text-justify">{{ data.experience }}+ years</span>
  </div>

  <div class="pb-8">
    <div class="font-semibold text-lg pb-2">
      <i class="bi bi-calendar-check-fill"></i> {{ labels.published }}
    </div>
    <span class="text-justify">{{ data.published }}</span>
  </div>
  <div class="pb-2">
    <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">{{ labels.deadline }}</span>
      <span class="font-semibold mr-2 text-left flex-auto">{{ data.deadline }}</span>
    </div>
  </div>

  <div class="flex flex-wrap justify-start pt-12">
    {% for category in data.categories %}
      <a href="{{ data.site_url }}search?q={{ category }}&entity_type=object&entity_subtype=job&search_type=entities">
        <div class="flex justify-center items-center m-1 font-medium py-2 px-4 bg-blue-50 rounded-full text-indigo-100 bg-indigo-700 border border-indigo-700">
          <div class="text-lg font-normal leading-none max-w-full flex-initial">
            <i class="bi bi-tags-fill"></i>&nbsp;{{ category }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  
</div>

{% include 'elements/forms/apply.html.twig' %}
<div id="hs-slide-down-animation-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-slide-down-animation-modal-label">
  <div class="hs-overlay-animation-target hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto">
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
      <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
        <h3 id="hs-slide-down-animation-modal-label" class="font-bold text-gray-800 dark:text-white">{{ data.title }}</h3>
        <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600" aria-label="Close" data-hs-overlay="#hs-slide-down-animation-modal">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <div class="max-w-sm space-y-3">
          <div class="relative">
            <input type="email" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Enter name" />
            <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
              <i class="bi bi-patch-check-fill"></i>
            </div>
          </div>

          <div class="relative">
            <input type="password" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Enter password" />
            <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
              <svg class="shrink-0 size-4 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"></path>
                <circle cx="16.5" cy="7.5" r=".5"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-neutral-700">
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" data-hs-overlay="#hs-slide-down-animation-modal">Close</button>
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Save changes</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ data.site_url }}mod/job-board-manager/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="{{ data.site_url }}mod/job-board-manager/dist/output.css" />
<script src="{{ data.site_url }}mod/job-board-manager/node_modules/preline/preline.js"></script>
