<div>
	 
    {{data.title_field}}
    {{data.overview_field}}
    {{data.qualifications_field}}
    {{data.responsabilities_field}}
    {{data.salary_field}}
    {{data.type_field}}
    {{data.tags_field}}
    {{data.access_id}}

    {{data.hidden_field}}
    {{data.container_field}}
    {{data.footer}}
</div>
