<div class="m-8">
  <div class="flex flex-row justify-start gap-8 xl:gap-8 pb-8 pt-2 sm:gap-4 md:gap-4">
    <div class="max-w-[85rem] ">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for entity in entities %}
        <!-- Card -->
        <div class=" overflow-hidden shadow-lg ">
      
    <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
      <div class="h-52 flex flex-col justify-center items-center bg-rose-500 rounded-t-xl">
 
       <i class="bi bi-file-earmark-richtext" style="font-size: 80px; color: white;"></i>
      </div>
      <div class="p-4 md:p-6">
        <span class="block mb-1 text-xs font-semibold uppercase text-rose-600 dark:text-rose-500">
          <i class="bi bi-pin-map-fill"></i>&nbsp; {{ entity.location }}
        </span>
        <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
          <a href="{{ entity.url }}">{{ entity.title }}</a>
        </h3>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
         {{ entity.overview|trim|striptags|slice(0, 99) }}...
        
        </p>
         {% for category in entity.tags %}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><i class="bi bi-hash"></i>{{ category }}</span>
          {% endfor %}
      </div>
      <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
        <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" 
        style="text-decoration: none"
        href="#">
         <i class="bi bi-share-fill"></i> Share
        </a>
        <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" 
        style="text-decoration: none"
        href="{{ entity.url }}">
         <i class="bi bi-send-fill"></i> Apply
        </a>
      </div>
    </div>
    <!-- End Card -->
         
       
      </div>
    {% endfor %}
  </div>
  </div>
  </div>
</div>

<link rel="stylesheet" href="{{ data.site_url }}mod/job-board-manager/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="{{ data.site_url }}mod/job-board-manager/dist/output.css" />
